In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df_raw = pd.read_csv("C:\\Users\\ADMIN\\Desktop\\balance_open_timeseries.csv", header = None, low_memory=False)

In [8]:
df = df_raw.transpose().sample(n = 5000)
df = df.transpose()
for i in range(45):
    df.iloc[i:i+15].transpose().to_csv("C:\\Users\\ADMIN\\Documents\\raw_data_5k\\month_" + str(i) + ".csv", header = False)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [78]:
df = df_raw.iloc[0:12]

In [79]:
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [80]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,976279,976280,976281,976282,976283,976284,976285,976286,976287,976288
0,1.000000,0.474838,0.000000,0.360876,0.016134,0.000000,0.002683,0.000000,0.490761,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.656735,0.000000,0.000000,1.000000,0.020399,0.000000,0.057777,0.000000,0.357556,0.842392,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.516162,0.471120,0.912859,0.976016,0.190128,0.973821,0.004811,0.839624,0.463551,0.912907,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.398876,0.712342,0.000000,0.010257,0.500622,0.000000,0.597464,0.000000,0.551024,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.409117,1.000000,0.000000,0.084827,0.000000,0.000000,0.000000,1.000000,1.000000,0.023639,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
df = df.drop(df.columns[df.sum() == 0], axis = 1)
df = df.transpose()

In [84]:
df.sample(n = 5000).to_csv("C:\\Users\\ADMIN\\Documents\\sample_5000.csv", header = False)
df.sample(n = 10000).to_csv("C:\\Users\\ADMIN\\Documents\\sample_10000.csv", header = False)
df.sample(n = 20000).to_csv("C:\\Users\\ADMIN\\Documents\\sample_20000.csv", header = False)
df.sample(n = 40000).to_csv("C:\\Users\\ADMIN\\Documents\\sample_40000.csv", header = False)
df.sample(n = 80000).to_csv("C:\\Users\\ADMIN\\Documents\\sample_80000.csv", header = False)
df.sample(n = 160000).to_csv("C:\\Users\\ADMIN\\Documents\\sample_160000.csv", header = False)

In [83]:
df.shape

(244930, 12)